.home {
  &--header {
    background-image: url("../images/bg-home-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    display: flex;
    padding: 95px 0 0;

    h1 {
      margin-top: 140px;
      color: #ffffff;

      @include m1024 {
        margin-top: 35px;
      }
    }

    .solution {
      margin-top: 55px;
      align-items: flex-start;

      &--info-link {
        flex: 1 1 33%;
        border-left: 1px solid #ffffff;

        .button {
          margin-bottom: 0px;
        }
      }

      @include m1024 {
        flex-direction: column;
        margin: 10px 0 39px;
        padding: 0;

        &--info-link {
          flex: 0 0 100%;
          width: 100%;
          border: 1px solid #ffffff;
          border-width: 1px 0 0 0;
          margin-top: 29px;

          div {
            padding: 29px 0 0;
          }
        }
      }
    }
  }

  &--text-call-action {
    display: flex;
    align-items: flex-start;

    h3 {
      font-size: 1.5rem;
      line-height: 2.375rem;
      color: $cor1;
      flex: 1 1 33%;
      padding-right: 65px;
      box-sizing: border-box;
    }

    &--info {
      flex: 1 1 66.66%;

      p {
        font-size: 3.25rem;
        line-height: 4.68rem;
        color: $cor2;
      }

      .button {
        margin-top: 20px;
      }
    }

    @include m1024 {
      flex-direction: column;

      h3 {
        padding: 0;
        font-size: 1rem;
        line-height: 1.56rem;
        padding-bottom: 35px;

        &::after {
          content: '';
          display: block;
          width: 50%;
          margin-top: 35px;
          border-bottom: 1px solid #2C58BD;
        }
      }

      &--info {
        p {
          font-size: 1.62rem;
          line-height: 2.37rem;
        }
      }
    }
  }

  &--solution {
    background: linear-gradient(192.31deg, #091F40 44.33%, #2C58BD 105.21%);
    position: relative;
    padding-bottom: 0;

    .container {
      z-index: 2;
    }

    .content-solution {
      display: block;
      .solution {
        &:nth-child(even) {
          flex-direction: row-reverse;

          @include m1024 {
            flex-direction: column;
          }
        }
      }
    }

    &:before {
      content: '';
      height: 100%;
      width: 100%;
      background-image: url("../images/bg-home-solution.svg");
      background-position: center top;
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    h2 {
      color: #ffffff;

      @include m1024 {
        margin-bottom: 0;
      }
    }

    &:after {
      background-color: #ffffff;
      height: 526px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;

      @include m1024 {
        height: 925px;
      }
    }
  }

  &--banner {
    padding-top: 15px;
  }
}

.solution {
  display: flex;
  padding-top: 55px;
  align-items: center;

  @include m1024 {
    flex-direction: column;
  }

  h4, p, span {
    color: #ffffff;
  }

  h4, p {
    margin-bottom: 16px;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.75rem;

    @include m1024 {
      font-size: 0.87rem;
      line-height: 1.25rem;
    }
  }

  span {
    font-weight: $light;
    font-size: 1.5rem;
    line-height: 2.375rem;
  }

  &--info-img, &--info-link {
    flex: 1 1 50%;
  }

  &--info-img {
    border-radius: 12px;
    overflow: hidden;
    position: relative;

    @include m1024 {
      border-radius: 0;
    }

    img {
      width: 100%;
      position: relative;
      z-index: 0;
      display: block;
    }

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute; 
      top: 0;
      left: 0;
      background-color: rgba(#4277F0, .4);
      z-index: 1;
    }
  }

  &--info-link {
    flex: 1 1 50%;

    div {
      padding: 0 50px;

      @include m1024 {
        padding: 30px 0 0;
      }
    }

    &:first-child {
      border: none;
    }
  }
}

.location {
  padding-top: 150px;

  @include m1024 {
    padding-top: 55px;
  }

  &--header {
    width: 66.666%;

    h2 {
      margin-bottom: 30px;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: #ffffff;
    }

    @include m1024 {
      width: 100%;

      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  &--filter {
    display: flex;
    align-items: stretch;
    margin-top: 55px;

    @include m1024 {
      margin-top: 30px;
      flex-direction: column;
    }

    &--search {
      flex: 0 0 66.66%;

      &--form {
        height: 150px;
        margin-right: 22px;
        padding: 30px;
        box-sizing: border-box;

        @include m1024 {
          padding: 20px;
          margin: 0;
          height: auto;
        }
        
        form {
          display: flex;
          align-items: flex-end;

          @include m1024 {
            flex-wrap: wrap;
          }

          fieldset {
            width: 100%;
          }
        }

        .search--form-select {
          flex: 0 0 170px;

          @include m1024 {
            flex: 0 0 50%;
            margin-top: 9px;
          }
        }

        label, input, select {
          font-size: 1.125rem;
          line-height: 1.75rem;
          color: $cor-txt;

          @include m1024 {
            font-size: .875rem;
            line-height: 1.25rem;
          }
        }

        label {
          font-weight: $medium;
          display: block;
          margin-bottom: 7px;
        }

        input, select {
          font-weight: $light;
          height: 51px;
          background: #FFFFFF;
          border: 5px solid #6E94EC;
          border-radius: 25px;
          padding: 0 17px;

          @include m1024 {
            height: 44px;
          }
        }

        input {
          width: calc(100% + 40px);

          @include m1024 {
            width: 100%;
          }
        }

        select {
          width: 100%;
        }

        button {
          flex: 0 0 138px;
          height: 51px;
          margin-left: 16px;
          cursor: pointer;

          &:hover {
            background-color: #6E94EC;
            border-color: #6E94EC;
          }

          @include m1024 {
            height: 44px;
            margin-left: 9px;
            flex: 0 0 calc(50% - 9px);
          }
        }
      }

      &--map {
        height: 430px;
        margin: 22px 22px 0 0;

        @include m1024 {
          height: 260px;
          margin: 20px 0 ;
        }
      }
    }

    &--search--form, &--search--map, &--result {
      background: #FFFFFF;
      border: 1px solid $cor2;
      border-radius: 15px;
    }
    
    &--result {
      width: 100%;
      //height: 604px;

      ul {
        padding: 0 55px 0 45px;
        height: 604px;

        @include m1024 {
          padding: 0 43px 0 33px;
          height: 482px;
        }

        li {
          padding: 47px 0;
          border-top: 1px solid #2C58BD;

          @include m1024 {
            padding: 33px 0;
          }

          &:first-child {
            border: none;
          }

          a {
            color: $cor2;
            
            &:hover {
              color: $cor1;
              text-decoration: underline;
            }
          }
        }
      }

      h4 {
        font-weight: $regular;
        font-size: 1.68rem;
        line-height: 2.25rem;
        color: $cor2;

        @include m1024 {
          font-size: 1.75rem;
        }
      }

      span {
        font-weight: $light;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: $cor-txt;
        display: block;      
        
        @include m1024 {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }

      .scrollbar-inner > .scroll-element .scroll-element_track { background-color: #ECF1FD; }
      .scrollbar-inner > .scroll-element .scroll-bar,
      .scrollbar-inner > .scroll-element:hover .scroll-bar {
        background-color: #B6C9F3;
      }
    }
  }
}

.about {
  display: flex;
  align-items: stretch;
  margin: 35px -15px 0;

  @include m1024 {
    margin: 0;
    flex-direction: column;
  }

  &--item {
    margin: 15px 15px 0;
    height: 440px;
    width: 33.333%;
    position: relative;
    border-radius: 0 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @include m1024 {
      width: 100%;
      margin: 15px 0;
      height: auto;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(26.05deg, rgba(38, 75, 159, 0.6) 6.89%, rgba(11, 33, 66, 0.85) 86.13%);
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      object-fit: cover;
      object-position: center;
    }

    a {
      background-color: $cor2;
    }

    &:first-child {
      &:before {
        background: linear-gradient(26.05deg, rgba(64, 174, 73, 0.2) 6.89%, #4FA26B 86.13%);
      }

      a {
        background-color: $cor1;
      }
    }

    &:last-child {
      &:before {
        background: linear-gradient(26.05deg, rgba(94, 138, 223, 0.6) 6.89%, #2B89DF 86.13%);
      }

      a {
        background-color: $cor3;
      }
    }

    &--info {
      padding: 37px;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 2;
      height: calc(100% - 72px);
      box-sizing: border-box;

      @include m1024 {
        padding: 33px;
        height: calc(100% - 65px);
      }

      h4, p {
        color: #ffffff;
      }

      h4 {
        display: flex;
        flex-direction: column;
        font-weight: $bold;
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.06em;

        &:after {
          content: '';
          width: 62px;
          height: 1px;
          background-color: #ffffff;
          margin-top: 16px;
        }

        @include m1024 {
          font-size: 1rem;
          line-height: 1.5rem;

          &:after {
            width: 55px;
          }
        }
      }

      p {
        font-weight: $regular;
        font-size: 1.68rem;
        line-height: 2.25rem;
        margin-top: 68px;

        @include m1024 {
          margin-top: 16px;
          font-size: 1.37rem;
          line-height: 2.12rem;
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      height: 72px;
      font-weight: $bold;
      font-size: 1rem;
      color: #ffffff;
      position: relative;
      z-index: 2;
      padding: 0 37px;
      margin-top: auto;

      @include m1024 {
        height: 65px;
        padding: 0 33px;
        font-size: .875rem;
      }

      &:after {
        content: '';
        width: calc(100% - 110px);
        height: 16px;
        margin-left: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='188' height='16' viewBox='0 0 188 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8L187 8.00002' stroke='white'/%3E%3Cpath d='M180 1L187 8.00074L180 15' stroke='white' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        background-position: center right;
        background-repeat: no-repeat;
      }
    }
  }
}

.banner {
  padding: 70px 130px;
  background: linear-gradient(76.42deg, #0A2041 33.41%, #2750AB 95.05%);
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  @include m1024 {
    padding: 33px 54px 33px 33px;
    flex-direction: column;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-image: url("../images/bg-banner.svg");
    background-size: cover;
    background-position: center;
  }

  h2 {
    color: #ffffff;
    margin: 0;
    width: 60%;

    @include m1024 {
      width: 100%;
    }
  }

  &--link {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    @include m1024 {
      width: 100%;
    }

    span {
      font-weight: $light;
      font-size: 1.37rem;
      line-height: 2.25rem;
      margin-bottom: 15px;
      color: #ffffff;

      @include m1024 {
        font-size: 1.25rem;
        line-height: 2.37rem;
        margin-top: 15px;
      }
    }

    .button {
      width: 240px;

      @include m1024 {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}