$width: 1440px;
$padding-container: 130px;
$padding-col: 30px;

$font-size: 1rem;
$line-height: 1.125rem;

$cor-txt: #54555B;
$cor-txt-light: #5d5e60;

/* CORES */
$cor1: #40AE49; // verde
$cor2: #081F40; // azul
$cor3: #2B89DF; // vermelho

$cor4: #000000; //
$verde-limao: #8cc63f; //verde-limão
$cinza: #dcdcdc;
$laranja: #cb521c;
$lilas: #8d1c7b;
$verde-claro: #5ea47e;

$bgescuro: #353535;
$bgclaro: #fbfbfb;

$verde: #007f3d;
$amarelo: #f5db00;
$azul: #3e4095;
$vermelho: #e70606;
$azul-celeste: #35cbc9;

$rosa: #ed7db5;

$dourado: #a4925f;
//$azul: #62b5e5;
$bege: #a4925f;
$bordo: #790000;

$marrom: #99552b;
$roxo: #ffffff;
$pink: #f4364c;

$white: #ffffff;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
